



.Header {
    grid-area: header;
    margin: 0;
    padding: 0;
}


.NavigationBarContainer {
    width: 100%;
    height: 3em;
    margin-top: 1em;

    display: inline-grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
}

.NavigationBarButton {
    font-size: 1.5em;
    color: white;
    background-color: forestgreen;
}
.NavigationBarButton:hover {
    background-color: green;
}
.NavigationBarButton:active {
    background-color: darkgreen;
}

#NavigationBarButtonBack {
}

#NavigationBarButtonForward {
}

.disabled {
    background-color: grey;
}
.disabled:hover {
    background-color: grey;
}
.disabled:active {
    background-color: grey;
}







.BreadcrumbsContainer {
    display: inline-grid;

    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    border-radius: 0.75em;
    background-color: lightcyan;
}

.BreadCrumb {
    text-align: center;

    cursor: pointer;
}


.CrumbLabel {
    font-size: 0.9em;
}
.CrumbValue {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.CurrentCrumb {
    box-shadow: 0 0.25em #808080;
}


