


.Footer {
    grid-area: footer;
    margin: 1em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 1em;
    align-content: center;
}

.FooterMessage {
    grid-column: 1 / span 5;
    justify-self: center;
}

.FooterMessageText {
    display: inline-block;
}


.hidden {
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.MainButton {
    grid-column: 3;

    min-width: 7em;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
}
.MainButton:hover {
    background-color: blue;
}
.MainButton:active {
    background-color: darkblue;
}

.disabled {
    background-color: grey;
}
.disabled:hover {
    background-color: grey;
}
.disabled:active {
    background-color: grey;
}