


.Footer {
    grid-area: footer;
    margin: 1em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 1em;
    align-content: center;
}

.FooterMessage {
    grid-column: 1 / span 5;
    justify-self: center;
    animation: hiding 1s linear 3s forwards;
}

@keyframes hiding {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

.FooterMessageText {
    display: inline-block;
}


.MainButton {
    grid-column: 3;

    min-width: 7em;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
}
.MainButton:hover {
    background-color: blue;
}
.MainButton:active {
    background-color: darkblue;
}

.disabled {
    background-color: grey;
}
.disabled:hover {
    background-color: grey;
}
.disabled:active {
    background-color: grey;
}