.grid-container {
    display: grid;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    position: absolute;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
            "header"
            "input"
            "button";
    background-color: cornsilk;
    padding: 10px;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}