

.JamDelight {
    width: 600px;
    height: 800px;

    font-family: "Georgia", Georgia, serif;

    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";

    border: 6px groove black;
}



.Main {
    grid-area: main;
    border-radius: 0.75em;
    background-color: cornsilk;
}




button {
    display: inline-block;
    margin: 0 1em;
    padding: 0.2em 1em;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.75em;
    box-shadow: 0 0.25em darkgray;
}
button:active {
    box-shadow: 0 0.15em dimgray;
    transform: translateY(0.10em);
}


.hidden {
    visibility: hidden;
    opacity: 0;
}
.visible {
    visibility: visible;
    opacity: 1;
}