
// Override default variables before the import

$enable-gradients: true;




// Include all of Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

//// OR Include parts of Bootstrap
//// Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
//// Optional
// @import "~bootstrap/scss/grid";
// etc



////////////////////////////////////////////////////


.hidden {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}

.grayedout {
  background-color: grey;
  color: white;
}

.rotate {
  transform: rotate(180deg);
}

.very-rounded {
  border-radius: 0.5em;
}

.cursor-pointer {
  cursor: pointer;
}

.h-tall {
  min-height: 400px;
}

.text-contrast {
  $contrast_color: rgba(220, 220, 220, 0.5);
  color: black;
  text-shadow:
          -1px -1px 0 $contrast_color,
          1px -1px 0 $contrast_color,
          -1px 1px 0 $contrast_color,
          1px 1px 0 $contrast_color;
}

.contrast_backdrop {
  background-color: rgba(220, 220, 220, 0.5);
}




////////////////////
// Specific Handling
////////////////////

.JamDelight {
  font-family: "Georgia", Georgia, serif;
}


// Footer Message
.FooterMessage {
  animation: hiding 0.5s linear 3s forwards;
}
@keyframes hiding {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}


// Breadcrumbs
.CrumbLabel {
  font-size: 0.9em;
}
.CrumbValue {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.CurrentCrumb {
  box-shadow: 0 0.25em darken($info, 5%);
}

.buttonIcon {
  display: inline-block;
  height: 26px;
  width: auto;
}

// Summary
.SummaryTitle {
  width: 100%;
  text-align: center;
}

// Question
.top_left {
  position: absolute;
  top: 2em;
  left: 10%;
}

.top_right {
  position: absolute;
  top: 5%;
  right: 10%;
}

.bottom_left {
  position: absolute;
  bottom: 5%;
  left: 10%
}

.bottom_center {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

// Card Button
$button-color: bisque;
$button-shadow: #999;
.answer-card {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 3px 9px $button-shadow;
}
.answer-card:hover {
  background-color: $button-color;
}
.answer-card:active {
  background-color: darken($button-color, 10%);
  box-shadow: 3px 5px darken($button-shadow, 10%);
  transform: translateY(4px);
}
.selected-border {
  box-shadow: inset 0 0 0 0.3em darken($button-color, 20%);
  //border: 0.3em solid darken($button-color, 20%);
}
.overshadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
}